body {
    font-family: "Inter","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 2em;
    margin: 0px;
}

h1 {
    text-align: center;
    padding: 1em;
    margin-top: 0px;
    margin-bottom: 1.5em;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,5,80,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
}
div.container {
    text-align: center;
    margin: 0px;
}
.recipes {
    margin: 0 auto;
}

.homepage {
    display: inline-block;
    margin: 0px 8.5em; 
}

.images {
    margin-top: 24px;
}

img {
    margin: 0.5em;
}

li {
    font-size: 24px;
}
a {
    text-decoration: none;
    border: solid 1px rgb(0, 0, 0, 0.4);
    padding: .5em;
    border-radius: .5em;
    background: rgb(2,0,36) ;
    background: linear-gradient(90deg, rgba(2,0,36,0.5) 0%, rgba(5,5,80,0.5) 0%, rgba(1,187,232,0.5) 49%, rgba(0,209,251,0.5) 100%);
}
a:link {
    color: black;
}
a:visited {
    color: rgb(40, 40, 119);
}

h3 {
    text-align: center;
    font-size: 32px;
}

p {
    font-size: 1.5em;
    margin: .5em;
    text-align: center;
}